


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navi{
    width: 350px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: #fa0000;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}

ul li a:hover{
    color: #008000;
}