body {
    font-family: Arial, sans-serif;
    background-color: #a8a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
}

.signup-form input {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #1e07a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0116d4;
}